{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["ie >= 9"]
        },
        "modules": false,
        "debug": true,
        "useBuiltIns": true
      }
    ],
    "react"],
  "plugins":  ["transform-runtime"]
}
